@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&display=swap');

// scss entry point

// here can be imports for global libs

// local styles:
@import './styles/index.scss';

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}


/* Упрощаем работу с изображениями */
img {
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

a.text:active,
/* активная/посещенная ссылка */
a.text:hover,
/* при наведении */
a.text,
a {
  text-decoration: none;
  color: #666;
}

body {
  background-color: #F7F7F8;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.banner {
  background-color: #FF9500;
  color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 14px 0px;
  margin: 20px 30px 0;
  gap: 23px;

}

.banner:hover {
  background-color: #ffa100;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin: 20px auto;
  padding: 20px 0;
  width: fit-content;
}

.logo {
  background-color: #FF9500;
  padding: 7px;
  border-radius: 8px;
  width: 54px;
  height: 54px;
  margin-right: 50px;
}

.navlist {
  display: flex;
  gap: 26px;
  font-size: 18px;
  font-weight: 400;
}

.navitem {
  display: flex;
  align-items: center;
  padding: 14px 24px;

}

.navitem:hover {
  background-color: #F1F1F3;

}

.menu {
  display: none;
}

.registration {
  display: flex;
  align-items: center;
  gap: 5px;
}

.button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  border-radius: 8px;
  padding: 14px 34px;

}


.link {
  display: block;
}

.outline {
  border-radius: 8px;
  border: 1px solid var(--white-95, #F1F1F3);
  background: var(--absolute-white, #FFF);
}


.secondary {
  background-color: #FF9500;
  color: #FFF;
}

.secondary:hover {
  background-color: #ffa100
}

.primary:hover {
  background-color: rgb(224, 223, 223);
}

.outline:hover {
  background-color: rgb(224, 223, 223);
}

.container {
  display: flex;
  gap: 50px;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--white-95, #F1F1F3);
  background-color: var(--white-99, #FCFCFD);
  width: fit-content;
  margin: 0 auto;
  padding: 14px 30px;
  position: relative;
  border-radius: 11px;
}

.unlock {
  color: #FF9500;
}

.iconintro {
  padding: 14px;
  background-color: #FFF4E5;
  border-radius: 6px;
}

.image-container {
  background-image: url("../shared/img/stripes.svg");
  background-repeat: no-repeat;
  width: 39px;
  height: 43px;
  position: absolute;
  left: -24px;
  top: -30px;


}

.one {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  margin-top: 20px;

}

.two {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-top: 10px;
}

.button_control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  gap: 12px;

}

.partners {
  display: flex;
  padding: 30px;
  justify-content: center;
  border: 1px solid var(--white-95, #F1F1F3);
  background: var(--white-99, #FCFCFD);
  border-radius: 8px;
  width: fit-content;
 
}

.partnersWraper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 100px 0 ;
  

}

.partnerslogo {
  display: flex;
  padding: 30px 40px;
  border-right: 1px solid#F1F1F3;


}

.partnerslogo:last-child {
  border: none;
}

.playWraper{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin: 100px auto 150px;
  padding: 0 80px;
}

.play>img{
  width: 100%;
  height: 100%;
}


.benefitsWraper{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1590px;
  
  

}

.title{
  display: flex;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  align-items: center;
  
  
  

}

.description{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px;
  padding-top: 6px;
}

.description>p{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.container-table{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 500px);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  margin: 80px 0 100px;
  
  
  

}

.item-table{
  display: grid;
  border-radius: 12px;
  background: var(--Absolute-White, #FFF);
  gap: 50px;
  padding: 50px;
  
  
}

.number-item-table{
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  text-align: right;
}

.arrow{
  border-radius: 8px;
  border: 1px solid var(--White-95, #F1F1F3);
  background: var(--White-99, #FCFCFD);
  padding: 20px;
}

.button_arrow{
  text-align: right;
}

.text-item{
  display: flex;
  gap: 14px;
  flex-direction: column;
}

.text-item>h3{
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.text-item>p{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.container-table-courses{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3,auto);
  gap: 30px;
  justify-content: center;
  margin: 80px 0 100px;

}

.item-table-courses{
  display: grid;
  border-radius: 12px;
  border: 1px solid var(--White-95, #F1F1F3);
  background: var(--Absolute-White, #FFF);
  justify-content: center;
  padding: 50px;
  max-width: 783.5px;
}

.info-courses{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: auto;
    margin: 30px 0 30px;
    align-items: center;
}

.info-courses-Wraper{
    display: flex;
    flex-direction: row;
    gap: 10px
}

.info-courses-item{
    display: flex;
    padding: 10px 16px;
    align-items: flex-start;
    border-radius: 8px;
    border: 1px solid gray;
    background: var(--Absolute-White, #FFF);
    
    
}

.info-courses-item>p{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.author-conrses{
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.button_get{
   display: flex;
   padding: 18px 24px;
   justify-content: center;
   align-items: center;
   border-radius: 8px;
   border: 1px solid var(--White-95, #F1F1F3);
   background: var(--White-97, #F7F7F8);
   margin-top: 30px;
}

.get{
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.container-table-testimonials{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2,auto);
  gap: 30px;
  justify-content: center;
  margin: 80px 0 100px;
}

.item-table-testimonials{
  display: grid;
  border-radius: 12px;
  border: 1px solid var(--White-95, #F1F1F3);
  background: var(--Absolute-White, #FFF);
  justify-content: center;
  max-width: 783.5px;
}

.text-item-testimonials{
  display: flex;
  padding: 50px;

}

.info-author-Wraper{
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

.author-story{
  display: flex;
  align-items: center;
  gap: 15px;
}

.author{
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.button_fs{
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--White-95, #F1F1F3);
  background: var(--White-97, #F7F7F8);
}

.fs{
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.tariffs-Wraper{
    display: flex;
    justify-content: center;
    margin: 80px auto 150px;
}

.tariffs-container{
    display: flex;
    border-radius: 12px;
    background: var(--Absolute-White, #FFF);
    padding: 80px;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.tariffs-item{
    display: flex;
    padding: 50px 30px 30px 30px;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border: 1px solid var(--White-95, #F1F1F3);
    background: var(--White-99, #FCFCFD);
}

.tariffs-heading{
    display: flex;
    border-radius: 6px;
    border: 1px solid var(--Orange-90, #FFEACC);
    background: var(--Orange-97, #FFF9F0);
    width: 100%;
    justify-content: center;
    padding: 12px 22px;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
}

.buttoncontainer{
    display: flex;
    border-radius: 8px;
    background: var(--Absolute-White, #FFF);
    padding: 12px;
    align-items: center;
}

.tariffs-cost{
  display: flex;
  align-items: baseline;
  margin: 50px auto;
}

.price{
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
}

.term{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.tariffs-features{
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 14px 14px 0px 0px;
  border: 1px solid var(--White-95, #F1F1F3);
  background: var(--Absolute-White, #FFF);

}

.tariffs-features-heading{
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.feature{
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid var(--White-95, #F1F1F3);
  padding: 14px;
}

.features-list{
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
}

.feature-marker{
  padding: 6px;
  border-radius: 6px;
  background: var(--Orange-95, #FFF4E5);
}

.button-tariffs-Wraper{
  width: 100%;
}


.tariffs{
  border-radius: 0px 0px 8px 8px;
  background: var(--Orange-50, #FF9500);
  width: 100%;
  color: var(--Absolute-White, #FFF);
}

@media screen and (max-width:767px) {
  .banner {
    padding: 10px 16px;
    margin: 40px 16px 0 16px;
  }

  .navlist {
    display: none;

  }

  .navigation {
    margin: 0 16px;
    padding: 20px 0;

  }

  

  

  .button {
    padding: 12px 20px;
    font-size: 14px;
  }

  .menu {
    border: none;
    margin-left: 20px;
    background: transparent;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;

  }

  .image-container {
    left: -10px;
    top: -20px;
  }

  .intro {
    padding: 14px;
    margin-top: 50px;
  }

  .slogan {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }

  .one {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    margin: 16px 30px 6px;
  }

  .two {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 0 40px;

  }

  .button_control {
    margin-top: 50px;
  }

  .partnersWraper {
    overflow-x: scroll;
    width: 100%;
    margin-bottom: 0;
    margin: 30px 16px 30px;
    

  }

  .partners {
    width: fit-content;
    justify-content: flex-start;
    padding: 10px; 
  }

  .partnerslogo {
    padding: 20px 30px;
  }

  .partnersWraper::-webkit-scrollbar {
    width: 0;
  }

 

.playWraper{
  margin: 10px auto 50px;
  padding: 0 16px;
}

.title{
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  justify-content: start;

}
.description{
  gap: 20px;
  flex-direction: column;
  align-items: start;
  
}

.benefitsWraper{
  flex-direction: column;
  margin: 50px 16px 40px;
}

.container-table{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(6, auto);
  justify-content: center;
  margin: 0 16px;
}

.item-table{
  border-radius: 10px;
  gap: 30px;
  padding: 30px;
}

.number-item-table{
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}

.text-item{
  gap: 10px;
}

.text-item>h3{
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.text-item>p{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.arrow{
  border-radius: 6px;
  padding: 14px;
}

.arrow>img{
  width: 26px;
  height: 26px;
}

.container-table-courses{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(6, auto);
  justify-content: center;
  margin: 0 16px;
}

.item-table-courses{
  padding: 24px;
  gap: 24px;
  border-radius: 10px;
  width: 100% ;
}

.photo-courses{
  width: 0 auto;
}

.photo-courses>img{
  max-width: 100%;
}

.info-courses-item{
  padding: 8px 14px;

}

.info-courses{
  flex-direction: column;
  gap: 14px;
  margin: 24px 0 24px;
  align-items: flex-start;
}

.info-courses-item>p{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.author-conrses{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.container-table-testimonials{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  margin: 0 16px;
}

.item-table-testimonials{
  border-radius: 10px;
  width: 100% ;
}

.text-item-testimonials{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding: 30px;
}

.info-author-Wraper{
  padding: 20px 30px;
}

.author-story{
  gap: 10px;
}



.author{
  font-size: 16px;
}

.button_fs{
  padding: 14px 16px;
}

.fs{
  font-size: 14px;
}

.buttoncontainer{
  margin-left: 25%;
 
}

}